<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="CareerNavi,business,company,agency,resume ai,coverletter ai,autoapply">
        <meta name="author" content="Team Nutech CS 20">
      
        <title>CareerNavi - AI Company</title>
      
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
      
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Icon Font Css -->
        <link rel="stylesheet" href="/static/plugins/themify/css/themify-icons.css">
        <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">
        <link rel="stylesheet" href="/static/plugins/magnific-popup/dist/magnific-popup.css">
          <link rel="stylesheet" href="/static/plugins/modal-video/modal-video.css">
          <link rel="stylesheet" href="/static/plugins/animate-css/animate.css">
        <!-- Slick Slider  CSS -->
        <link rel="stylesheet" href="/static/plugins/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="/static/plugins/slick-carousel/slick/slick-theme.css">
      
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/static/css/style.css">
      
      </head>
<body>
    <nav class="navbar navbar-expand-lg  py-4 navigation header-padding nav-text-white bg-1" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="/static/images/logo-w.png" alt="" class="img-fluid hidden-logo">
            <img src="/static/images/logo.png" alt="" class="img-fluid mobile-logo">
          </a>

          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
          </button>
        
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav m-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>
                  
                  <li class="nav-item"><a class="nav-link" href="project.html">Find Jobs</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CareerNavi<i class="fa fa-angle-down ml-2"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                      <li><a class="dropdown-item" href="resume-form.html">Resume AI</a></li>
                      <li><a class="dropdown-item" href="coverletter-form.html">Cover Letter AI</a></li>
                      <li><a class="dropdown-item" href="coverletter-form.html">AutoApply</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
        
                <a href="login-form.html" class="btn btn-solid-white d-none d-lg-block">Login <i class="fa fa-angle-right ml-2"></i></a>
            </div>
        </div>
    </nav>

</ul>
</div>
</div>
</div>
</div>
</section>

<!-- User Profile Dashboard -->
<section class="user-profile-dashboard" style="margin-top:10% ;">
    <div class="container">
        <div class="row">
            <!-- Left Section - Picture -->
            <div class="col-md-4">
                <!-- Picture Section -->
                <div class="picture-section">
                    <img src="user-profile-picture.jpg" alt="User Profile Picture" class="img-fluid">
                </div>
            </div>

            <!-- Middle Section - User Info -->
            <div class="col-md-4">
                <!-- User Personal Info Section -->
                <div class="user-info-section">
                    <h4>User Information</h4>
                    <ul class="list-unstyled">
                        <li><strong>First Name:</strong> John</li>
                        <li><strong>Last Name:</strong> Doe</li>
                        <li><strong>Phone Number:</strong> +123456789</li>
                        <li><strong>Email:</strong> johndoe@example.com</li>
                        <li><strong>Address:</strong> 123 Main Street, City, Country</li>
                        <li><strong>Profession:</strong> Software Developer</li>
                    </ul>
                </div>
            </div>

            <!-- Right Section - Work Experience and Skills -->
            <div class="col-md-4">
                <!-- Work Experience and Skills Section -->
                <div class="work-experience-skills-section">
                    <h4>Work Experience & Skills</h4>
                    <ul class="list-unstyled">
                        <li><strong>Experience:</strong> 5 years</li>
                        <li><strong>Skills:</strong> HTML, CSS, JavaScript, Python</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container mt-5">
    <h1 class="mt-4 mb-4">User Personal Information</h1>
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Picture -->
            <div class="form-group">
                <label for="profilePicture">Profile Picture</label>
                <input type="file" class="form-control-file" id="profilePicture">
                <img src="placeholder.jpg" alt="Profile Picture" class="mt-3 img-thumbnail">
            </div>
        </div>
        <div class="col-md-8">
            <!-- First Name -->
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" value="John" readonly>
            </div>
            <!-- Last Name -->
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" value="Doe" readonly>
            </div>
            <!-- Education -->
            <div class="form-group">
                <label for="education">Education</label>
                <textarea class="form-control" id="education" rows="3" readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
            <!-- Employment -->
            <div class="form-group">
                <label for="employment">Employment</label>
                <textarea class="form-control" id="employment" rows="3" readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
            <!-- Work History -->
            <div class="form-group">
                <label for="workHistory">Work History</label>
                <textarea class="form-control" id="workHistory" rows="3" readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
            <!-- Projects -->
            <div class="form-group">
                <label for="projects">Projects</label>
                <textarea class="form-control" id="projects" rows="3" readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
            <!-- Contact Info -->
            <div class="form-group">
                <label for="contactInfo">Contact Info</label>
                <textarea class="form-control" id="contactInfo" rows="3" readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
            <!-- Additional Experiences -->
            <div class="form-group">
                <label for="additionalExperiences">Additional Experiences</label>
                <textarea class="form-control" id="additionalExperiences" rows="3" readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
            </div>
            <!-- Edit Button -->
            <button class="btn btn-primary" id="editButton">Edit</button>
            <!-- Save Button (hidden initially) -->
            <button class="btn btn-success d-none" id="saveButton">Save</button>
        </div>
    </div>
</div>


    <!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<h3>CareerNavi</h3>
					</div>
					<p>A user-centric online platform addressing challenges, offering tools for resume optimization, interview preparation, job matching, and skill development.
					</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="about.html">About</a></li>
						<li><a href="service.html">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Support</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Get in Touch</h4>
					<h6><a href="tel:+23-345-67890" > <i class="ti-headphone-alt mr-3"></i>career.navi.fyp@gmail.com</a></h6>
					<h6><a href="mailto:support@gmail.com" > <i class="ti-mobile mr-3"></i>+92 xxx xxxxxx</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="ti-facebook mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com"><i class="ti-twitter mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://pk.linkedin.com/"><i class="ti-linkedin mr-2 "></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">CareerNavi</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer End -->
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="/static/plugins/jquery/jquery.js"></script>
    <script src="/static/js/contact.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="/static/plugins/bootstrap/js/popper.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="/static/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="/static/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="/static/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="/static/plugins/counterup/jquery.counterup.min.js"></script>

     <script src="/static/plugins/modal-video/modal-video.js"></script>

     
    <script src="/static/js/script.js"></script>
</body>
</html>
